{% extends 'base.html'%}

{%block content%}


    <center>
    <h1> Angiography</h1>
<br/>

    {%for sudo in venue_list%}
    <table border="2">
        <tr>
            <td><a href="{% url 'show-angio' sudo.p_id %}"> {{ sudo.p_id }}</a></td>
            <td>{{sudo.name}}    </td>
            <td>{{sudo.vistit_number}}</td>
            <td>{{sudo.procedure.procedure_type}}</td>
            <td>{{sudo.operator.name}}</td>
            <td>{{sudo.Date}}</td>
            <td>{{sudo.procedure.Cost}}</td>
            
            

        </tr>
    </table>
        
    




<br/>

    {% endfor%}
    </center>

  
{% endblock %}