{% extends 'base.html' %}

{% block content %}


<center>
    Search Form

<form action="" method="get">
    {{ filter.form.as_p }}
    <button type="submit"> Search</button>
</form>


    <table class="pre-req" style="width:80%">
        <thead>
            <th>Patient Name</th>
            <th>Visit Number</th>
            <th>Procedure</th>
            <th>Operator Name</th>
            <th>Procedure Date</th>
            <th>Total Cost</th>
        </thead>
        
        <tbody>
            {% for patient in filter.qs %}
        <tr>
            
            <td>{{patient.name}}    </td>
            <td>{{patient.visit_number}}</td>
            <td>{{patient.procedure.procedure_type}}</td>
            <td>{{patient.operator.name}}</td>
            <td>{{patient.Date}}</td>
            <td>{{patient.procedure.Cost}}</td>

          

        </tr>
        {% endfor%}
        </tbody>

    </table>
        
</center>
    
{% endblock %}